@charset "UTF-8";

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 10px #cfcfcf;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #dedede;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #5c9ad0;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #4279a8;
    text-decoration: underline;
}
